html {
    min-width: 960px;
    background: #fff;
    font-family: 'Fregat', sans-serif;

    /*font-family: 'PT Sans', sans-serif;*/
    /*font-family: 'Roboto Thin', sans-serif;*/
    /*font-family: 'Fregat Bold', sans-serif;*/

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}