html {
    min-width: 1200px;
    background: #f8f8f8 url(../images/background.jpg) center top no-repeat;
    font-family: 'Fregat', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}