.header {
    position: relative;
}
    .header__left {
        position: absolute;
        top: 35px;
        left: -21px;
    }

    .header__center {
        position: absolute;
        top: 71px;
        left: 378px;
    }

    .header__right {
        position: absolute;
        top: 78px;
        right: -25px;
    }