.header {
    position: relative;
}
    .header__left {
        position: absolute;
        top: 15px;
        left: -20px;
    }

    .header__center {
        position: absolute;
        top: 52px;
        left: 378px;
    }

    .header__right {
        position: absolute;
        top: 58px;
        right: -61px;
    }