.map {
    position: relative;
}

    .map__note {
        background: #fff;
        padding: 28px 67px 29px 33px;
        position: absolute;
        top: 50px;
        left: 193px;
        z-index: 8000;
    }

        .map__note__top {

        }

        .map__note__bottom {
            margin-top: 20px;
        }

    .map__unit {
        height: 600px;
        z-index: 100;
    }