.nav {
    font-family: 'Fregat Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #045aa2;
    text-align: center;
}
    .nav__item {
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
    }

    .nav__item:first-child {
        margin-left: 0;
    }

        .nav__item__link {

        }