.page {

}
    .page__header {

    }

    .page__nav {
        margin: 20px 0 0;
    }

    .page__features {
        margin: 83px 0 0;
    }

    .page__clients {
        margin: 139px 0 0;
    }

    .page__description {
        margin: 36px 0 0;
    }

    .page__map {
        margin: 50px 0 0;
        height: 100%;
    }